<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="Buy and sell programmable NFT tickets for events of all sizes on the Ticketland platform. Enjoy enhanced security and flexibility thanks to our cutting-edge technology." />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap ">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">

  <!-- Primary Meta Tags -->
  <title>Ticketland Pass</title>
  <meta name="title" content="Ticketland Pass">
  <meta name="description"
    content="Ticketland is a blockchain-based NFT ticketing platform that offers programmable tickets for events of all sizes. Buy and sell tickets with ease, and enjoy enhanced security and flexibility thanks to our cutting-edge technology.">
  <meta name="keywords"
    content="NFT, ticketing, programmable tickets, blockchain, events, Ticketland, resale royalty, collectibles, engaging and immersive experience, metaverse">
  <meta name="author" content="Ticketland">
  <meta name="robots" content="index, follow">

  <!-- Open Graph / Facebook -->
  <meta property="og:url" content="https://app.ticketland.io">
  <meta property="og:title" content="Ticketland Pass">
  <meta property="og:description"
    content="Buy and sell programmable NFT tickets for events of all sizes on the Ticketland platform. Enjoy enhanced security and flexibility thanks to our cutting-edge technology.">
  <meta property="og:image" content="https://app.ticketland.io/favicon.ico">
  <meta property="og:type" content="website">
  <!-- Twitter -->
  <meta name="twitter:title" content="Ticketland Pass">
  <meta name="twitter:description"
    content="Buy and sell programmable NFT tickets for events of all sizes on the Ticketland platform. Enjoy enhanced security and flexibility thanks to our cutting-edge technology.">
  <meta property="twitter:url" content="https://app.ticketland.io">
  <meta property="twitter:image" content="https://app.ticketland.io/favicon.ico">
  <meta name="twitter:card" content="summary_large_image">


  <!-- <meta name="google-signin-scope" content="profile email"> -->
  <!-- <meta name="google-signin-client_id" content="955218804430-sdabinrt4dbvqm9qa4q5m17jrsu17337.apps.googleusercontent.com"> -->
  <!-- <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.css" /> -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
</head>

<body>
  <div id="root"></div>

  <noscript>You need to enable JavaScript to run this app.</noscript>
</body>
<style>
  .carousel.carousel-slider {
    border-radius: 15px;
    overflow: visible;
  }

</style>
</html>
