<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ticketland Pass" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">

    <title>Ticketland Pass</title>
    <!-- Primary Meta Tags -->
    <title>Ticketland Pass</title>
    <meta name="title" content="Ticketland Pass">
    <meta name="description" content="Ticketland Pass.">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://app.ticketland.io/discord">
    <meta property="og:title" content="Ticketland Pass">
    <meta property="og:description" content="Ticketland Pass.">
    <meta property="og:image" content="">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://app.ticketland.io/discord">
    <meta property="twitter:title" content="Ticketland Pass">
    <meta property="twitter:description" content="Ticketland Pass">
    <meta property="twitter:image" content="">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
  </head>
  <body>
    <div id="root"></div>

    <noscript>You need to enable JavaScript to run this app.</noscript>
  </body>
  <style>
    .carousel.carousel-slider {
      border-radius: 15px;
      overflow: visible;
    }
    body > * {
      font-family: Poppins;
    }
  </style>
</html>
